<div class="page-header">
  <h3><%= link_to "@#{@user.username}", user_path(@user.username) %></h3>
  <% if logged_in? && (@user != current_user) %>
    <% if !current_user.following_users.include?(@user) %>
      <h5><%= link_to "+ follow", follow_user_path(@user), method: 'post' %></h5>
    <% else %>
      <h5><%= link_to "- unfollow", unfollow_user_path(@user), method: 'post' %></h5>
    <% end %>
  <% end %>
</div>

<% @user.statuses.each do |status| %>
  <%= render 'statuses/status', status: status %></li>
<% end %>